/*
Carrie Ko, Christine Chen, Cindy Liu, Joyce Lin
hi
SoftDev
P02: Makers Makin' It, Act I
01/16/2026
*/

@font-face {
  font-family: font;
  src: url(/static/arcadeclassic.regular.ttf);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
