/*
Carrie Ko, Christine Chen, Cindy Liu, Joyce Lin
hi
SoftDev
P02: Makers Makin' It, Act I
01/16/2026
*/

@font-face {
  font-family: font;
  src: url(/static/Silkscreen-Regular.ttf);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* AUDIO */
#audio {
  transform: scale(5);
  display: none;
  margin-top: 15px;
  margin-left: 25px;
}

#audio:checked + label img {
  content: url("/static/images/icons/audio.png");
  filter: invert(80%);
}
