<!DOCTYPE html>

<!--
Carrie Ko, Christine Chen, Cindy Liu, Joyce Lin
hi
SoftDev
P02: Makers Makin' It, Act I
01/16/2026
-->

<html>

<head>

  <title> BATTLE </title>

  <!-- CUSTOM CSS -->
  <link rel="stylesheet"
    type="text/css"
    href="/static/css/style.css">

  <!-- BOOTSTRAP CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
    crossorigin="anonymous">

  <!-- PAGE SPECIFIC CSS -->
  <style>

    body {
      background: url('/static/images/bgs/forestpath.jpg');
      background-size: cover;
      background-position: center;
      position: relative;
      overflow: hidden;
      font-family: font;
    }

    .enemy-wrap, .player-wrap {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .panel {
      position: absolute;
      bottom: 105px;
      left: 50%;
      transform: translateX(-50%);
      width: 600px;
      background: gray;
      padding: 10px;
    }

    .panel-btn {
      background: gray;
      border: none;
      color: white;
      padding: 5px;
      cursor: pointer;
    }

    .progress-bar {
      transition: width 0.3s ease;
    }

    .progress {
      position: relative;
      overflow: hidden;
    }

    .bar-text {
      position: absolute;
      inset: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 10px;
      color: #161616;
    }

    .atk-wrap {
      background: gray;
      color: white;
      border-radius: 6px;
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    .enemy-wrap.targeted img {
      outline: 4px solid white;
    }

    .items-grid {
      display: grid;
      gap: 20px;
    }

    .slot {
      width: 50px;
      height: 50px;
      border: 2px solid white;
      border-radius: 6px;
      cursor: pointer;
    }

    .slot.empty {
      cursor: default;
    }

    .slot:hover {
      outline: 2px solid white;
    }

    @keyframes player-atk {
      0% {
        transform: translateX(0);
      }
      50% {
        transform: translateX(500px);
      }
      100% {
        transform: translateX(0);
      }
    }

   @keyframes enemy-atk {
      0% {
        transform: translateX(0);
      }
      50% {
        transform: translateX(-500px);
      }
      100% {
        transform: translateX(0);
      }
    }

    @keyframes shake {
      0% {
        transform: translateX(0);
      }
      25% {
        transform: translateX(-8px);
      }
      50% {
        transform: translateX(8px);
      }
      75% {
        transform: translateX(-8px);
      }
      100% {
        transform: translateX(0);
      }
    }

    .player-atk {
      animation: player-atk 0.8s ease;
    }

    .enemy-atk {
      animation: enemy-atk 0.8s ease;
    }

    .shake {
      animation: shake 0.6s ease;
    }

    #actions {
      transition: transform 0.4s ease, opacity 0.4s ease;
    }

    #actions.hidden {
      transform: translateY(80px);
      opacity: 0;
      pointer-events: none;
    }

    .inactive {
      opacity: 0.4;
      transition: opacity 0.3 ease, filter 0.3 ease;
      pointer-events: none;
    }

    .dmg-popup {
      position: fixed;
      font-size: 22px;
      font-weight: bold;
      pointer-events: none;
      text-shadow: 0 0 6px black;
      transition: transform 1s ease, opacity 1s ease;
      opacity: 0;
      display: none;
    }

    @keyframes death {
      0% {
        transform: scale(1);
        opacity: 1;
        filter: none;
      }
      40% {
        transform: scale(1.05);
      }
      100% {
        transform: scale(0.6) translateY(40px);
        opacity: 0;
        filter: grayscale(1);
      }
    }

    .dead {
      animation: death 0.9s ease forwards;
    }

  </style>

</head>

<body>

  <div class = "container-fluid vh-100 d-flex flex-column px-0">

    <!-- Left-Side Bar -->
    <div class = "row flex-grow-1 position-relative">

      <div class= "text-white" style = "position: absolute; top: 30%; left: 0; width: 200px;">
        <h5 id = "turn-num" class = "fw-bold text-center"> Turn {{ battle.turnNum }} </h5>

        <div class = "p-3 bg-dark">

          <div class = "mb-3 player-sidebar">
            <h5 class = "fw-bold"> {{ battle.player.username }} </h5>
            <div class = "progress">
              <div class = "progress-bar bg-danger player-hp" style = "width: {{ (battle.player.hp / 30) * 100 }}%">
                <div id = "player-hp-text">{{ battle.player.hp }} / {{ battle.player.max_hp }}</div>
              </div>
            </div>
            <div class = "progress">
              <div class = "progress-bar bg-info player-energy" style = "width: {{ (battle.player.energy / 6) * 100 }}%">
                {{ battle.player.energy }} / 6
              </div>
            </div>
          </div>

          {% for enemy in battle.enemies %}
          <div class = "mb-3 enemy-sidebar enemy-{{ loop.index0 }}">
            <h5 class = "fw-bold"> {{ enemy.species }} </h5>
            <div class = "progress">
              <div class = "progress-bar bg-danger enemy-hp" style = "width: {{ (enemy.hp / enemy.max_hp) * 100 }}%">
                {{ enemy.hp }} / {{ enemy.max_hp }}
              </div>
            </div>
            <div class = "progress">
              <div class = "progress-bar bg-info enemy-energy" style = "width: {{ (enemy.energy / 6) * 100 }}%">
                {{ enemy.energy }} / 6
              </div>
            </div>
          </div>
          {% endfor %}
        </div>

      </div>

      <div class = "flex-grow-1 position-relative">

        <!-- Player Display -->
        <div class = "player-wrap" style = "left: 20%; bottom: 150px;">

          <img class = "player-sprite" src = "/static/images/warrior.png" style = "width: 200px;">

          <div class = "d-flex justify-content-center" style = "position: absolute; bottom: -20px; left: -60px;">
            <div class = "bg-dark text-white px-1" style = "border-radius: 8px; width: 200px;">

              <span class = "fw-bold small"> {{ battle.player.username }} </span>

              <div class = "d-flex gap-1 mb-1">
                <div class = "progress flex-grow-1" style = "height: 12px;">
                  <div class = "progress-bar bg-danger player-hp" style = "width: {{ (battle.player.hp / battle.player.max_hp) * 100 }}%">
                  </div>
                  <div class = "bar-text player-hp-text">{{ battle.player.hp }} / {{ battle.player.max_hp }} </div>
                </div>
                <div class = "progress flex-grow-1" style = "height: 12px;">
                  <div class = "progress-bar bg-info player-energy" style = "width: {{ (battle.player.energy / 6) * 100 }}%">
                  </div>
                  <div class = "bar-text player-energy-text">{{ battle.player.energy }} / 6 </div>
                </div>
              </div>

            </div>
          </div>

        </div>

        <!-- Enemy Display -->
        {% for enemy in battle.enemies %}
        <div class = "enemy-wrap enemy-{{ loop.index0 }}"
             style = "right: {{ 15 + loop.index0 * 8 }}%; bottom: {{ 140 + loop.index0 * 60 }}px;">

          <img class = "enemy-sprite" src = "/static/images/enemies/{{ enemy.species }}.png" style = "width: 200px;">

          <div class = "d-flex justify-content-center" style = "position: absolute; bottom: -20px; left: -60px;">
            <div class = "bg-dark text-white px-1" style = "border-radius: 8px; width: 200px;">

              <span class = "fw-bold small"> {{ enemy.species }} </span>

              <div class = "d-flex gap-1 mb-1">
                <div class = "progress flex-grow-1" style = "height: 12px;">
                  <div class = "progress-bar bg-danger enemy-hp" style = "width: {{ (enemy.hp / enemy.max_hp) * 100 }}%">
                  </div>
                  <div class = "bar-text enemy-hp-text"> {{ enemy.hp }} / {{ enemy.max_hp }} </div>
                </div>
                <div class = "progress flex-grow-1" style = "height: 12px;">
                  <div class = "progress-bar bg-info enemy-energy" style = "width: {{ (enemy.energy / 6) * 100 }}%">
                  </div>
                  <div class = "bar-text enemy-energy-text"> {{ enemy.energy }} / 6 </div>
                </div>
              </div>

            </div>
          </div>

        </div>
        {% endfor %}

      </div>

    </div>

    <!-- Actions Bar -->
    <div class = "d-flex justify-content-center">
      <div class = "bg-dark text-white py-2" style = "width: 600px;">

        <div class = "d-flex justify-content-between align-items-center mx-3">
          <div>
            <h5 class = "fw-bold"> Warrior &nbsp Lvl {{ battle.player.level }} </h5>
          </div>
          <div class = "d-flex align-items-center gap-1">
            <h5 class = "fw-bold"> 0 </h5>
            <img class = "mb-2" src = "/static/images/icons/coin.png" style = "width: 20px;">
          </div>
        </div>

        <div class = "d-flex gap-2 mb-2 mx-3">
          <div class = "progress flex-grow-1" style = "height: 18px;">
            <div class = "progress-bar bg-danger player-hp" style = "width: {{ (battle.player.hp / 30) * 100 }}%">
            </div>
            <div class = "bar-text player-hp-text"> {{ battle.player.hp }} / {{ battle.player.max_hp }} </div>
          </div>
          <div class = "progress flex-grow-1" style = "height: 18px;">
            <div class = "progress-bar bg-info player-energy" style = "width: {{ (battle.player.energy / 6) * 100 }}%">
            </div>
            <div class = "bar-text player-energy-text"> {{ battle.player.energy }} / {{ battle.player.max_energy }} </div>
          </div>
        </div>

        <div id = "actions" class = "d-flex gap-3 justify-content-center mx-3">
          <button class = "panel-btn fw-bold flex-grow-1" onclick = "show('attacks')"> Fight </button>
          <button class = "panel-btn fw-bold flex-grow-1" onclick = "guard()"> Guard </button>
          <button class = "panel-btn fw-bold flex-grow-1" onclick = "show('items')"> Items </button>
          <button class = "panel-btn fw-bold flex-grow-1" onclick = "gainEnergy()"> Focus </button>
        </div>

      </div>
    </div>

    <!-- Attack Panel-->
    <div id = "attacks-panel" class = "panel" style = "display: none;">
      <div class = "d-flex gap-2 justify-content-center">
      {% for atk in battle.player.attacks %}
      <div class = "atk-wrap flex-grow-1 bg-dark px-2 gap-2 mb-1 py-1
          {% if battle.player.energy < atk[3] or battle.player.cds[loop.index0] > 0 %}
          inactive
          {% endif %}"
          onclick = "selectAtk('{{ atk[0] }}')">
        <img src = "/static/images/icons/atk-icon.png" style = "width: 50px;">
        <div>
          <div class = "fw-bold"> {{ atk[0] }} </div>
          <p style = "font-size: 10px;">
             Cost: {{ atk[3] }} |
             Cooldown:
             {% if battle.player.cds[loop.index0] > 0 %}
               {{ battle.player.cds[loop.index0] }}
             {% else %}
               {{ atk[4] }}
             {% endif %}
          </p>
        </div>
      </div>
      {% endfor %}
      </div>
    </div>

    <!-- Targets Panel -->
    <div id = "targets-panel" class = "panel" style = "display: none;">
      <div class = "d-flex gap-2 justify-content-center">

        {% for enemy in battle.enemies %}
        <div class = "atk-wrap flex-grow-1 bg-dark px-2 gap-2 mb-1 py-1
             target-btn target-{{ loop.index0 }}"
             onmouseenter = "highlight({{ loop.index0 }})"
             onmouseleave = "unhighlight({{ loop.index0 }})"
             onclick = "selectTarget({{ loop.index0 }})">
          <div class = "fw-bold">{{ enemy.species }}</div>
        </div>
        {% endfor %}

        <button class = "panel-btn" onclick = "show('attacks')"> Back </button>

      </div>
    </div>

    <!-- Items Panel -->
    <div id = "items-panel" class = "panel" style = "display: none;">
      <div class = "items-grid" style = "grid-template-columns: repeat(8, 1fr);">
        {% for name, item in inventory.items() %}
          {% if item[1] == "consumable" %}
          <div class = "slot bg-dark d-flex flex-column align-items-center justify-content-center"
               onclick = "useItem('{{ name }}')">
            <div class = "small text-center"> {{ name }} </div>
            <div class = "small">x{{ item[2] }}</div>
          </div>
          {% endif %}
        {% endfor %}
        {% for i in range(8 - battle.player.inventory|length) %}
        <div class = "slot empty"></div>
        {% endfor %}
      </div>
    </div>

  <!-- BOOTSTRAP JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"> </script>

  <!-- CUSTOM JS -->
  <script src="/static/js/audio.js"> </script>

  <!-- PAGE-SPECIFIC JS -->
  <script>
  let turn = "player";
  let selected = null;
  let currentBattle = null;

  // TIMINGGGGGG
  const ATK_MS = 800;
  const HIT_MS = 600;
  const HIT_DELAY_MS = 400;
  const POPUP_MS = 1200;
  const PAUSE_MS = 200;

  function hide() {
    document.querySelectorAll('.panel')
      .forEach(p => p.style.display = 'none');
  }

  function show(type) {
    hide();
    document.getElementById(type + '-panel').style.display = 'block';
  }

  function selectAtk(atk) {
    selected = atk;
    show('targets');
  }

  function selectTarget(i) {
    hide()
    hideActions();
    playerAtkAnim(i);

    // Player Turn
    let xhttp = new XMLHttpRequest();
    xhttp.open("POST", "/battle", true);
    xhttp.setRequestHeader("Content-Type", "application/json");

    xhttp.onload = function() {
      if (this.status == 200) {
        const battle = JSON.parse(this.responseText);
        const prevBattle = currentBattle;
        currentBattle = battle;
        updateBattle(battle);

        if (prevBattle) {
          handleDeaths(prevBattle, battle);
        }

        if (battle.actions && battle.actions.length > 0) {
          const act = battle.actions[0];
          if (act.source === "player") {
            showHits("enemy", act.result, i);
          }
        }
      }

      setTimeout(() => {
        enemyTurn();
      }, POPUP_MS + PAUSE_MS);
    };

    xhttp.send(JSON.stringify({
      action: "attack",
      move: selected,
      target: i
    }));
  }

  function gainEnergy() {
    hide();
    enemyTurn();
  }

  function guard() {
    hide();
    enemyTurn();
  }

  function enemyTurn() {
    setTimeout(() => {
      let xhttp = new XMLHttpRequest();
      xhttp.open("POST", "/battle", true);
      xhttp.setRequestHeader("Content-Type", "application/json");

      xhttp.onload = function () {
        if (this.status !== 200) return;

        const battle = JSON.parse(this.responseText);
        const prevBattle = currentBattle;
        currentBattle = battle;

        turn = battle.turn
        updateBattle(battle);

        if (prevBattle) {
          handleDeaths(prevBattle, battle);
        }

        if (battle.actions && battle.actions.length > 0) {
          enemyActions(battle.actions);
        } else {
          turn = "player";
          updateTurnUI();
          showActions();
        }
      };

      xhttp.send(JSON.stringify({ action: "advance" }));
    }, PAUSE_MS);
  }

  function enemyAct(i, result) {
    updateTurnUI(i);
    enemyAtkAnim(i);

    if (result.length > 0) {
      showHits("player", result);
    }
  }

  function enemyActions(actions, i = 0) {
    if (i >= actions.length) {
      turn = "player";
      updateTurnUI();
      showActions();
      return;
    }

    const act = actions[i];
    enemyAct(act.enemy_idx, act.result);

    setTimeout(() => {
      enemyActions(actions, i + 1);
    }, POPUP_MS + PAUSE_MS);
  }

  function showDmg(target, dmg, status = "", enemyIdx = null, offset = 0) {
    const popup = document.createElement("div");
    popup.className = "dmg-popup";

    if (status == "crit") {
      popup.innerText = `CRIT ${dmg}!`;
      popup.style.color = "gold";
    } else if (status == "dodged") {
      popup.innerText = "DODGE";
      popup.style.color = "blue";
    }
    else if (status == "blocked") {
      popup.innerText = "BLOCK";
      popup.style.color = "blue";
    } else {
      popup.innerText = `-${dmg}`;
      popup.style.color = "white";
    }

    let element = null;
    if (target == "player") {
      element = document.querySelector(".player-wrap");
    } else if (target == "enemy" && enemyIdx != null) {
      element = document.querySelectorAll(".enemy-wrap")[enemyIdx];
    }

    const rect = element.getBoundingClientRect(); // returns element pos/size
    popup.style.left = rect.left + rect.width / 2 + "px";
    popup.style.top = (rect.top - offset * 12) + "px";

    document.body.appendChild(popup);

    popup.style.display = "block";
    popup.style.opacity = 1;
    popup.style.transform = "translateY(0px)";

    setTimeout(() => {
      popup.style.transform = "translateY(-30px)";
      popup.style.opacity = 0;
    }, 200);

    setTimeout(() => {
      popup.style.display = "none";
    }, POPUP_MS);
  }

  function showHits(target, hits, enemyIdx = null) {
    let offset = 0;

    hits.forEach(hit => {
      const [st, dmg] = hit;

      setTimeout(() => {

        // // stop combo if dead
        // if (target === "enemy" && enemyIdx !== null) {
        //   const enemy = currentBattle.enemies[enemyIdx];
        //   if (!enemy || enemy.hp <= 0) return;
        // }
        // if (target === "player") {
        //   if (currentBattle.player.hp <= 0) return;
        // }

        showDmg(target, dmg, st, enemyIdx, offset);
      }, offset * 150);
      offset++;

    });
  }

  function handleDeaths(prevBat, newBat) {
    const prevC = prevBat.enemies.length;
    const newC = newBat.enemies.length;

    if (newC >= prevC) return;

    for (let i = newC; i < prevC; i++) {

      // sprite
      const sprite = document.querySelector(`.enemy-wrap.enemy-${i}`);
      if (sprite) {
        sprite.classList.add("dead");
        setTimeout(() => {
          sprite.remove();
        }, 900);
      }

      // sidebar
      const sidebar = document.querySelector(`.enemy-sidebar.enemy-${i}`);
      if (sidebar) sidebar.remove();

      // targets panel
      const target = document.querySelector(`.target-${i}`);
      if (target) target.remove();
    }
    fixIndex();
  }

  function fixIndex() {
    document.querySelectorAll(".target-btn").forEach((btn, i) => {
      btn.className = "atk-wrap flex-grow-1 bg-dark px-2 gap-2 mb-1 py-1 target-btn target-" + i;
      btn.onclick = () => selectTarget(i);
    });
  }

  function highlight(i) {
    const enemies = document.querySelectorAll(".enemy-wrap");
    if (enemies[i]) {
      enemies[i].classList.add("targeted");
    }
  }

  function unhighlight(i) {
    const enemies = document.querySelectorAll(".enemy-wrap");
    if (enemies[i]) {
      enemies[i].classList.remove("targeted");
    }
  }

  function hideActions() {
    document.getElementById("actions")
      .classList.add("hidden");
  }

  function showActions() {
    hide()
    document.getElementById("actions")
      .classList.remove("hidden");
  }

  function playerAtkAnim(i) {
    const player = document.querySelector(".player-wrap");
    const enemy = document.querySelectorAll(".enemy-wrap");

    if (!player || !enemy[i]) return;

    player.classList.add("player-atk");

    setTimeout(() => {
      enemy[i].classList.add("shake");
    }, HIT_DELAY_MS);
    setTimeout(() => {
      player.classList.remove("player-atk");
      enemy[i].classList.remove("shake");
    }, HIT_DELAY_MS + HIT_MS);
  }

  function updateTurnUI(idx = null) {
    const player = document.querySelector(".player-sidebar");
    const enemies = document.querySelectorAll(".enemy-sidebar");

    if (turn === "player") {
      player.classList.remove("inactive");
      enemies.forEach(e => e.classList.add("inactive"));
    }
    else {
      player.classList.add("inactive");
      enemies.forEach((e, i) => {
        if (i === idx) {
          e.classList.remove("inactive");
        } else {
          e.classList.add("inactive");
        }
      });
    }
  }

  function enemyAtkAnim(i) {
    const player = document.querySelector(".player-wrap");
    const enemy = document.querySelectorAll(".enemy-wrap");

    if (!player || !enemy[i]) return;

    enemy[i].classList.add("enemy-atk");

    setTimeout(() => {
      player.classList.add("shake");
    }, HIT_DELAY_MS);
    setTimeout(() => {
      enemy[i].classList.remove("enemy-atk");
      player.classList.remove("shake");
    }, HIT_DELAY_MS + HIT_MS);
  }

  function updateBattle(battle) {
    // PLAYER BARS
    // hp
    const p_hp = (battle.player.hp / battle.player.max_hp) * 100;
    document.querySelectorAll(".player-hp").forEach(bar => {
      bar.style.width = p_hp + "%";
     });
     document.querySelectorAll("#player-hp-text, .player-hp-text").forEach(txt => {
       txt.innerText = `${battle.player.hp} / ${battle.player.max_hp}`;
     });
    // energy
    const p_energy = (battle.player.energy / 6) * 100;
    document.querySelectorAll(".player-energy").forEach(bar => {
      bar.style.width = p_energy + "%";
    });
    document.querySelectorAll(".player-energy-text").forEach(txt => {
      txt.innerText = `${battle.player.energy} / ${battle.player.max_energy}`;
    });

    // ENEMY BARS
    battle.enemies.forEach((enemy, i) => {
      const e_hp = (enemy.hp / enemy.max_hp) * 100;
      const e_energy = (enemy.energy / 6) * 100;

      // Sidebar HP
      const sidebar_e = document.querySelector(`.enemy-sidebar.enemy-${i}`);
      sidebar_e.querySelectorAll(".enemy-hp").forEach(bar => {
        bar.style.width = e_hp + "%";
      });
      sidebar_e.querySelectorAll(".enemy-hp-text").forEach(txt => {
        txt.innerText = `${enemy.hp} / ${enemy.max_hp}`;
      });
      // Sidebar Energy
      sidebar_e.querySelectorAll(".enemy-energy").forEach(bar => {
        bar.style.width = e_energy + "%";
      });
      sidebar_e.querySelectorAll(".enemy-energy-text").forEach(txt => {
        txt.innerText = `${enemy.energy} / ${enemy.max_energy}`;
      });

      // Battlefield HP
      const field_e = document.querySelector(`.enemy-wrap.enemy-${i}`);
      field_e.querySelectorAll(".enemy-hp").forEach(bar => {
        bar.style.width = e_hp + "%";
      });
      field_e.querySelectorAll(".enemy-hp-text").forEach(txt => {
        txt.innerText = `${enemy.hp} / ${enemy.max_hp}`;
      });
      // Battlefield Energy
      field_e.querySelectorAll(".enemy-energy").forEach(bar => {
        bar.style.width = e_energy + "%";
      });
      field_e.querySelectorAll(".enemy-energy-text").forEach(txt => {
        txt.innerText = `${enemy.energy} / ${enemy.max_energy}`;
      });

    });

    // Turn #
    const turnNum = document.getElementById("turn-num");
    if (turnNum && battle.turnNum !== undefined) {
      turnNum.innerText = `Turn ${battle.turnNum}`;
    }

  }

  turn = "player";
  updateTurnUI();

  </script>

</body>

</html>
