<!DOCTYPE html>

<!--
Carrie Ko, Christine Chen, Cindy Liu, Joyce Lin
hi
SoftDev
P02: Makers Makin' It, Act I
01/16/2026
-->

<html>

<head>

  <title> SCAVENGE </title>

  <!-- CUSTOM CSS -->
  <link rel="stylesheet"
    type="text/css"
    href="/static/css/style.css">

  <!-- BOOTSTRAP CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
    crossorigin="anonymous">

  <!-- PAGE SPECIFIC CSS -->
  <style>
  /* BACKGROUND */
  body {
    background-color: dimgrey;

    font-family: font;
  }

  /* MAIN TEXT*/
  #scavengeText {
    font-size: 200%;

    text-align: center;
    margin-top: 25%;
  }
  </style>

</head>

<body>

  <!-- CONTAINER FOR TEXT -->
  <div class="container center" id="scavengeText"> </div>

  <!-- BOOTSTRAP JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"> </script>

  <!-- PAGE-SPECIFIC JS -->
  <script>
  var scavText = ["scavenging", "scavenging.", "scavenging..", "scavenging..."];
  var textIndex = 0;

  function displayText() {
    document.getElementById("scavengeText").innerHTML = scavText[textIndex];

    if (textIndex == 3) { textIndex = 0 }
    else { textIndex += 1 };
  }

  function postReq() {
    let post = new XMLHttpRequest();
    post.open("POST", window.location.href, true);
    post.send();

    post.onload = function() {
      if (this.readyState == 4 && this.status == 200) {
        item = this.response;

        clearInterval(time);
        document.getElementById("scavengeText").innerHTML = `You found ${item}!`;

        setTimeout(function() {
            window.location.href = "/campfire"
          }, 2000
        )
      }
    }
  }

  let time = setInterval(displayText, 400);
  setTimeout(postReq, 3500)
  </script>

</body>

</html>
